@import "tailwindcss";

@theme {
  /* Configure the .container class to center itself by default */
  --container-center: true;

  /* Configure horizontal padding across your responsive layout */
  --container-padding: 1rem;
  --container-padding-md: 1.5rem;
  --container-padding-lg: 2rem;
}